 body {
        background-image: url('images/ff1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active){
    background-color: chartreuse;
  }
.active{
    background-color: lightpink;
}
.column{
    flex: 50%;
    padding: 10px;
    background-color: cornsilk;
    column-count: 2;
    column-gap: 40px;
    column-rule: crimson;
    column-rule-style: solid;
}
.row::after{
    content: "";
    display:table;
    clear:both;

}
.row{
    display: flex;
}
